#h1Connecting{
    font-size: 40px;

    margin-top: 80px;
    margin-left: 400px
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

.spinner {
    position: relative;
    vertical-align: middle;
    border: 2px solid #4b9fd5;
    border-radius: 50%;
    animation: spin .75s infinite linear;
}

.spinner:after,.spinner:before {
    left: -2px;
    top: -2px;
    display: none;
    position: absolute;
    content: "";
    width: inherit;
    height: inherit;
    border: inherit;
    border-radius: inherit
}

.spinner,.spinner:after,.spinner:before {
    display: inline-block;
    box-sizing: border-box;
    border-color: transparent;
    border-top-color: #4b9fd5;
    animation-duration: 1.2s
}

.spinner:before {
    transform: rotate(120deg)
}

.spinner:after {
    transform: rotate(240deg)
}

.spinner-margin {
    margin: 10px
}

#loadingSpinner{
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-left: 400px;
}

#testConBtnSpanSpinner, #saveBtnSpanSpinner{
    width: 15px;
    height: 15px;
    margin-left: 10px
}


/*
   variables addressed one by one because sonar does not get rid of css after living the page
*/
.header{
    display: FLEX;
    margin: 20px;
}

.header img {
    float: left;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}

.header h1 {
    position: relative;
    font-weight: bold;
    vertical-align: middle;
}

input[type=text], input[type=password] {
    height: 24px;
    padding: 0 6px;
    WIDTH: 75%;
}

#configurationDivId{
   max-width: 410px;
    margin: 56px auto;
}

p{
    margin-top: 10px;
    margin-bottom: 16px;
    margin-right: 15px;
    margin-left: 20px;
}

.cxDescription{
    left: 25%;
    position: relative;
    margin-top: 6px;
    color: 	#A9A9A9;
    font-size: smaller;
}

#testConParagraph{
    margin-top: 20px;
}

label{
    display: inline-block;
    width: 25%;
    text-align: left;
 }

#projectForm label{
    width: 120px;
}

#serverUrlErr, #usernameErr, #passwordErr, #projectFormErr, #saveBtnErr{
    font-weight: bold;
    color:#FF0000;
    position: relative;
    left: 25%;
    top: 4px
}

#testConBtnErr,#saveBtnErr{
    font-weight: bold;
    color:#FF0000;
    margin-left: 0;
    width: 130px;
}

#separator{
    margin: 24px;
}

#testConBtn,#saveBtn{
    width: 120px;
}

#testConBtnSuccess,#saveBtnSuccess{
    font-weight: bold;
    color:#4682B4;
    margin-left: 10px;
    width: 130px;
}

#testConBtnSpan, #saveBtnSpan{
    margin-left: 10px;
    margin-right: 0;
}


#testConP{
    margin-top: 15px;
}

#projectForm{
    margin-top: 20px;
}

#projectForm label{
    margin-bottom: 8px;
}